<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% flash.each do |key, value| %>
    <div id="error_explanation">
      <div class="alert alert-#{key}">
        <%= value unless value.blank? %>
      </div>
    </div>
  <% end %>
  <h1> Add new answer</h1>
  <%= form_tag(user_form_question_answers_path, method: 'post') do %>
    <%= label_tag(:answer, 'Answer')%>
    <%= text_field_tag(:answer)%>
    <%= submit_tag("Create answer") %>
  <% end %>
</body>
</html>