<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% flash.each do |key, value| %>
    <div id="error_explanation">
      <div class="alert alert-#{key}">
        <%= value unless value.blank? %>
      </div>
    </div>
  <% end %>
  <h3>Title:</h3>
  <%= @form.title%>
  <h3>Description</h3>
  <%= @form.description%>
  <br>
  <h3> Questions: </h3>
  <% unless @form.questions.empty?%>
    <ol>
      <% @form.questions.each do |question| %>
        <li>
         <%= question.question_text %>
         <span>
          <%= link_to 'Edit', edit_form_question_path(@form,question) %>
          <%= link_to 'Delete', form_question_path(@form, question), method: :delete, data: {confirm: 'Are you sure ?'} %>
         </span>
         <% unless question.answers.empty?%>
          <ul>
            <% question.answers.each do |answer| %>
              <li><%= answer %></li>
            <% end %>
          </ul>
         <% end %>
        </li>
      <% end %>
    </ol>
  <% end%>
  <div>
    <%= link_to 'Add new question to this form', new_form_question_url(@form.id) %>
    <br>
    <%= link_to 'Delete this form', form_url(@form.id), method: :delete, data: {confirm: 'Are you sure?'}%>
    <br>
    <%= link_to 'Return to list',forms_url%>
  </div>
</body>
</html>