<div class="row">
  <div class="col-md-3 bg-light">
  </div>
  <div class="col-md-6">
    <h3 class="text-center"><%= @form.title%></h3>
    <hr>
    <p class="text-left"><%= @form.description%></p>
    <hr>
    <% unless @form.questions.empty?%>
      <ol class="list-group">
        <% @form.questions.each do |question| %>
          <li class="list-group-item">
            <p><%= question.question_text %></p>
            <span>
            <%= link_to 'Edit', edit_form_question_path(@form,question) %>
            <%= link_to 'Delete', form_question_path(@form, question), method: :delete, data: {confirm: 'Are you sure ?'} %>
            <% if question.question_type == 'Multiple choice'%>
              <%= link_to 'New Answer', new_form_question_answer_path(@form, question)%>
            <% end%>
            </span>
            <% unless question.answers.empty?%>
            <ul class="list-group list-group-flush">
              <% question.answers.each_with_index do |answer, index| %>
                <li class="list-group-item text-dark">
                  <input type="radio" class="form-check-input" name="optradio">
                  <%= answer %>
                  <%= link_to 'Edit', edit_form_question_answer_path(@form, question, index: index)%>
                  <%= link_to 'Delete', form_question_answer_path(@form, question, index: index), method: :delete%>
                </li>
              <% end %>
            </ul>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% end%>
    <div class="btn-group">
      <%= link_to 'Add new question to this form', new_form_question_url(@form.id), class: 'btn btn-success' %>
      <br>
      <%= link_to 'Delete this form', form_url(@form.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'%>
      <br>
      <%= link_to 'Return to list',forms_url, class: 'btn btn-primary'%>
    </div>
  </div>
  <div class='col-md-3 bg-light'>
  </div>
</div>