<!DOCTYPE html>
<html>
  <head>
    <title>FormManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <%= link_to 'Form Manager', root_path, class: 'navbar-brand' %>
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item">
            <%=link_to 'Create new form', new_user_form_url(current_user), class: 'nav-link'%>
          </li>        
          <li class="nav-item">
            <%= link_to 'Logout', logout_url, method: :delete, class: 'nav-link'%>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
