<!DOCTYPE html>
<html>
  <head>
    <title>FormManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Form manager</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%=link_to 'Create new form', new_form_url, class: 'nav-link'%>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
